# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\bat76\ProjetCours\Test\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
